---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navbar from "../../components/Navbar.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection(
    "blog",
    ({ data }) => data.draft !== true,
  );
  const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return tags.map((tag) => ({
    params: { tag },
  }));
}

const { tag } = Astro.params;
const allPosts = await getCollection(
  "blog",
  ({ data }) => data.draft !== true && data.tags.includes(tag),
);
---

<BaseLayout title="Milán Herke - Blog">
  <Navbar />
  <h1 class="mt-4 mb-6 text-gray-900 lowercase dark:text-gray-100">
    Posts tagged with {tag}
  </h1>
  {allPosts.map((post) => <BlogPostCard post={post} />)}
</BaseLayout>
