<div class="my-4 text-gray-600 dark:text-gray-400">
  Hi, I'm Milán. I enjoy building creative, cool products. I'm currently working
  towards obtaining my bachelor's degree in computer science at the University
  of Pécs, Faculty of Sciences.
</div>
