---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../utils";

interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
---

<div
  class="flex items-center justify-between text-gray-600 dark:text-gray-400 my-2"
>
  <a class="hover:underline" href={`/blog/${post.slug}`}>
    {post.data.title}
  </a>
  {formatDate(post.data.pubDate)}
</div>
