---
import type { CollectionEntry } from "astro:content";
import BlogPostCard from "./BlogPostCard.astro";

interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
---

<div class="my-4">
  <a
    href="/blog"
    class="text-gray-900 lowercase hover:underline dark:text-gray-100">posts</a
  >
  <BlogPostCard post={post} />
</div>
