---
import ArrowUpRight from "./ArrowUpRight.astro";
---

<nav
  aria-label="Navigation bar"
  class="sticky top-0 z-10 bg-gray-50 py-4 dark:bg-[#0a0a0a]"
>
  <ul class="flex gap-4 font-medium text-gray-900 lowercase dark:text-gray-100">
    <li>
      <a class="py-2 hover:underline" href="/"> Home </a>
    </li>
    <li>
      <a class="py-2 hover:underline" href="/blog"> Blog </a>
    </li>
    <li>
      <a
        class="inline-flex items-center hover:underline"
        href="https://github.com/milan-codes"
        target="_blank"
        rel="noreferrer"
      >
        GitHub
        <ArrowUpRight />
      </a>
    </li>
  </ul>
</nav>
