---
import ArrowUpRight from "./ArrowUpRight.astro";
---

<nav aria-label="Navigation bar" class="py-4">
  <ul
    class="flex flex-col gap-2 font-medium lowercase text-gray-900 dark:text-gray-100"
  >
    <li>
      <a class="py-2 hover:underline" href="/"> Home </a>
    </li>
    <li>
      <a class="py-2 hover:underline" href="/blog"> Posts </a>
    </li>
    <li>
      <a
        class="inline-flex items-center hover:underline"
        href="https://github.com/milan-codes"
        target="_blank"
        rel="noreferrer"
      >
        GitHub
        <ArrowUpRight />
      </a>
    </li>
  </ul>
</nav>
