<div class="grid h-screen place-content-center px-4">
  <div class="text-center">
    <h1
      class="text-9xl font-black tracking-wider text-gray-400 dark:text-gray-600"
    >
      404
    </h1>

    <p class="mt-4 tracking-wider text-gray-900 dark:text-gray-100">
      The page you requested does not exist.
    </p>

    <a
      href="/"
      class="mt-6 inline-block px-5 py-6 text-sm font-medium text-gray-900 hover:underline dark:text-gray-100"
    >
      Go back home
    </a>
  </div>
</div>
