---
import ProjectCard from "./ProjectCard.astro";

export type Project = {
  name: string;
  description: string;
  link: string;
  tags: string[];
};

const projects: Project[] = [
  {
    name: "Personal blog",
    description: "The source code of this site",
    link: "https://github.com/milan-codes/milan-codes.github.io",
    tags: ["Astro", "Tailwind"],
  },
  {
    name: "The Briefing Room",
    description: "Access and visualize Formula 1 telemetry data",
    link: "https://github.com/milan-codes/the-briefing-room",
    tags: ["Next", "React.ts", "Tailwind"],
  },
  {
    name: "The Briefing Room API",
    description: "Simple Flask API to serve The Briefing Room's frontend",
    link: "https://github.com/milan-codes/the-briefing-room-api",
    tags: ["Flask"],
  },
  {
    name: "Studician",
    description:
      "Android app for students to digitalize their timetable and tasks",
    link: "https://github.com/milan-codes/studician-android-client",
    tags: ["Kotlin"],
  },
  {
    name: "Studician API",
    description:
      "Express API to make information available for Studician users",
    link: "https://github.com/milan-codes/studician-api",
    tags: ["Node.js", "Express", "Firebase"],
  },
];
---

<div class="my-8">
  <h1 class="text-gray-900 dark:text-gray-100 lowercase">Projects</h1>
  {projects.map((project, index) => <ProjectCard project={project} />)}
</div>
