---
import ArrowUpRight from "./ArrowUpRight.astro";
import type { Project } from "./Projects.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props;
const { name, tags, link } = project;
---

<div class="my-2 flex justify-between text-gray-600 dark:text-gray-400">
  <a
    class="inline-flex items-center hover:underline"
    href={link}
    target="_blank"
    rel="noreferrer"
  >
    {name}
    <ArrowUpRight />
  </a>
  {tags.join(", ")}
</div>
