---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div>
  <ul class="mb-6 flex flex-wrap">
    {
      tags.map((tag: unknown) => (
        <li class="mr-3 text-sm font-medium text-gray-600 hover:underline dark:text-gray-400">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</div>
