---
const { tags } = Astro.props;
---

<div>
  <h1 class="my-8 mb-2 tracking-wider text-gray-900 dark:text-gray-100">
    Tags
  </h1>
  <ul class="flex flex-wrap">
    {
      tags.map((tag: unknown) => (
        <li class="mr-3 text-sm font-medium text-gray-400 hover:underline dark:text-gray-600">
          <a href={`/tags/${tag}`}>{`#${tag}`}</a>
        </li>
      ))
    }
  </ul>
</div>
