---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      type="text/partytown"
      defer
      data-domain="milan-codes.github.io"
      src="https://plausible.io/js/script.js"
    ></script>
  </head>
  <body class="max-w-lg mx-auto px-4 bg-gray-50 dark:bg-[#0a0a0a]">
    <slot />
  </body>
</html>
